font-family: 'Lato', sans-serif;

body {
  color: white;
}

body button {
    font-family: 'Lato', sans-serif;
}

#About {  /*mudem aqui também*/
    color: #fff;
    background-color: #91778d;
    font-size: 0.8;
    font-weight: 400;
    line-height: 3;
}

#About:hover{
	color: #d0d0d0;
}


nav a {
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-size: 0.8;
    font-weight: 400;
    line-height: 2.5;
}

nav a:hover{
	color: #d0d0d0;
}

.navbar-dark .navbar-brand {
    color: #fff;
    z-index: 1031;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(0,0,0,0.20);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.mttbg{
	margin-top: 50px; 
	margin-bottom: 50px;
}

.imageBox {
	position: relative;
	float: center;
	top: 35px;
}

.bg{
	 position:fixed;
	 top:0px;
	 left:0px;
	 width:100%;
	 height:100%;
	 z-index:-1;'
}

.hoverImg{
	z-index: -2;
	position: relative;
	float: center;
	top: -177px;
	margin-bottom: -150px;
}

.fundoMembros:hover .hoverImg{
	z-index: 1;
}

.borda{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.mtt{
	white-space: nowrap;
	font-size: 25px;
	color: rgb(255,255,255);
	font-weight: bolder;
	line-height: 58px;
	font-family: "Lato";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.facebook{
	position: absolute;
	margin-top: 45px;
	margin-left: calc(23% - 10px);
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #9f839d;
}

.twitter{
	position: absolute;
	margin-top: 45px;
	margin-left: calc(41% - 10px);
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #9f839d;
}
.gplus{
	position: absolute;
	margin-top: 45px;
	margin-left: calc(59% - 10px);
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #9f839d;
}


.linkedin{
	position: absolute;
	margin-top: 45px;
	margin-left: calc(77% - 10px);
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #9f839d;
}

.fundoMembros:hover .facebook{
	background-color: #4f689e;
}

.fundoMembros:hover .twitter{
	background-color: #73c7d5;
}

.fundoMembros:hover .gplus{
	background-color: #df5b63;
}

.fundoMembros:hover .linkedin{
	background-color: #3d61af;
}

.row-centered {
    text-align:center;
}

.fundoMembros{	
	border: 90px;
	width: auto;
	height: 380px;
	border-radius: 5px;
	background-color: rgba(76,62,74,0.5);
}

.fundoMembros:hover{
	background-color: rgba(76,62,74,0.95);
}

.membro{
	margin-top: 20px;
	font-size: 20.5px;
	line-height: 38px;
	color: rgb(199,182,197);
	font-family: "Lato";
	font-weight: 900;
	text-align: center;
}

.fundoMembros:hover .membro{
	color: rgb(255,255,255);
}

.desc{
	font-size: 14px;
	line-height: 18px;
	color: rgb(161,202,108);
	font-family: "Lato";
	text-align: center;
}

.fundoMembros:hover .desc {
	color: rgb(255,137,115);
}

.wwwe{
	padding: 140px 0 0 0;
	line-height: 58px;
	font-size: 60px;
	color: rgb(255,255,255);
	text-align: center;
	font-weight: 300;
	font-family: "Lato";
}

.textoSobre{
	padding: 20px 0 0 0;
	font-size: 14px;
	line-height: 24px;
	color: rgba(255,255,255,0.8);
	font-family: "Lato";
	text-align: center;
}
