font-family: 'Lato', sans-serif;

body {
  color: white;
}
body button {
    font-family: 'Lato', sans-serif;
}
#contacts {  /*mudem aqui também*/
    color: #fff;
    background-color: #82c8bd;
    font-size: 0.8;
    font-weight: 400;
    line-height: 3;
}
nav a {
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-size: 0.8;
    font-weight: 400;
    line-height: 2.5;
}
.navbar-dark .navbar-brand {
    color: #fff;
    z-index: 1031;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(0,0,0,0.20);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
h1 {
  text-align: center;
  margin-top: 120px;
  color: white;
  font-weight: 100;
  font-size: 50px;
}
#subt {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: white;
  margin-top: 2%;
}
.row {
  margin-top: 10%;
}

h3 {
  color: white;
  font-weight: 300;
  height: 10px;

}
.form-control {
  background-color: #00000026;
  border: rgba(0,0,0,0);
}
.row ::-webkit-input-placeholder {
  font-weight: 400;
  color: #ffffff54
}
.form-group textarea.form-control {
  height: 150px;
}
#sendMessageButton {
  text-align: center;
  width: 200px;
  height: 40px;
  background-color: #df5c64;
  border: rgba(0,0,0,0);
  font-weight: 600;
  font-size: large;
}
#row_button {
  margin-top: 5%;
}
#address {
  margin-top: 8%;
}
#mapa {
  margin-top: 10px;
}
.list_1 {
  margin-bottom: 65px;
}
ul {
  margin-top: 2%;
  list-style-type: none;
  font-weight:400;
  font-size: 20;
  color: white;
  padding-left: 0%;
  }
.rodape {
  background-color: #68a097;
}
.fa {
  padding: 20px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom:10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #82c8bd;
  color: white;
}
.fa-twitter {
  background: #82c8bd;
  color: white;
}
.fa-linkedin {
  background: #82c8bd;
  color: white;
}
.fa-google-plus {
  background: #82c8bd;
  color: white;
}

.rodape li {
  display: inline;
  text-align: center;
  padding-right: 25px;
}
.rodape a {
  font-size: 20px;
}
#icones {
  text-align: center;
}
