font-family: 'Lato', sans-serif;

main div{
    font-size: 100px;
}


body button {
    font-family: 'Lato', sans-serif;
}
img{
    max-width:100%;
      height:auto;
  }
  .nav-pills {
    padding: 0%;
  }

#home {
    color: #fff;
    background-color: #c2c2c2;
    font-size: 0.8;
    font-weight: 400;
    line-height: 3;;
}

nav a {
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-size: 0.8;
    font-weight: 400;
    line-height: 2.5;
}
.navbar-dark .navbar-brand {
    color: #fff;
    z-index: 1031;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0000006e;
}
