font-family: 'Lato', sans-serif;

main div{
    font-size: 100px;
}


body button {
    font-family: 'Lato', sans-serif;
}

#services { 
    color: #fff;
    background-color: #df5c64;
    font-size: 0.8;
    font-weight: 400;
    line-height: 3;;
}
nav a {
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-size: 0.8;
    font-weight: 400;
    line-height: 2.5;
}
.navbar-dark .navbar-brand {
    color: #fff;
    z-index: 1031;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0000006e;
}
#title{
    text-align: center;
    font-weight: lighter;
    line-height: 1;
    color: white;
    margin-top: 160px;
    font-size: 47px
}
#subt{
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: white;
    margin-top: 25px;
    font-size: 14px;
}
#text{
        color: rgb(254,203,206);
        font-size: 10px;
        text-align: center;
}

#service_1 {
    margin-top: 10px;
    align-self: auto;
}
#service_2 {
    margin-top: 10px;
}
#service_3 {
    margin-top: 10px;
}
#service_4 {
    margin-top: 10px;
}
.row{
    margin-top: 8%;
    margin-bottom: 10%;
}
