font-family: 'Lato', sans-serif;

body {
  color: white;
}

body button {
    font-family: 'Lato', sans-serif;
}

#contacts {  /*mudem aqui também*/
    color: #fff;
    background-color: #83a557;
    font-weight: 400;
    line-height: 3;
}

nav a {
    color: #ffffff;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    line-height: 2.5;
  }

.navbar-dark .navbar-brand {
    color: #fff;
    z-index: 1031;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(0,0,0,0.20);
}


#title{


	text-align: center;
	line-height: 6;
	font-weight: 200;
	color: white;
	margin-top: 30px;
	font-size: 55px;
  font-family: 'Lato', sans-serif;
}
#subt {
	text-align: center;
    line-height: 1;
    font-weight: 450;
    color: white;
    margin-top: -90px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.p1{
  text-align: left;
  color: white;
  font-size: : 20px;
  font-weight: bold;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}
.p2{
  text-align: center;
  color: white;
  font-size: : 20px;
  font-weight: bold;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

#photography{
  background-color: orange;
}

#borders{

    border-color: white;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom:10px;

}

@media screen and (max-width: 1000px){
    #borders{
        border-color: white;
        border-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        padding-top: 15px;
        padding-bottom: 8px;
        margin-bottom:10px;
        visibility: hidden;
    }
}

#c0{
  column-count: 2;
  border-top:auto;
  border-bottom:auto;
  border-color: white;
  border-width: thin;
}

#c1{
  column-count: 4;
}

.ct {
    font-family: 'Lato', sans-serif;
    margin-top: 5%;
    color: grey;
}
